/*Universal Styles*/
* {
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  /*This makes the site's background color black*/
}

/*Header Layout*/
header {
  height: 69px;
  width: 100%;
  padding-left: 10px;
  margin: 0;
  border-bottom: 1px solid seashell;
  /*Added up, the above should have a height of 70px*/
  display: flex;
  justify-content: space-between;
  /*The above should divide the image from the anchors*/
  font-size: 22px;
  align-items: center;
  /*The above should vertically align the image & anchors in the center of the header*/
  position: fixed;
  top: 0;
  left: 0;
  /*The above should fix the header to the top of the screen (despite scrolling).*/
  background-color: black;
  z-index: 1;
  /*The above gives the header a black background & keeps it above the other elements*/
}

#logo img {
  height: 50px;
  padding-left: 10px;
}

a {
  padding-right: 20px;
  text-decoration: underline;
}
/*Additional header styling above*/

/*Mission Layout*/
#mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  max-width: 1200px;
  width: 100%;
  /*The above sets the height & width for .mission's background image*/
  position: absolute;
  top: 70px;
  align-self: center;
  /*The above moves .mission below the header*/
}

#heading {
  position: absolute;
  top: 300px;
  /*The above positions h2 & h4 300px from the top of .mission*/
  background-color: black;
  height: 100px;
  width: 100%;
  /*The above sets .headings to spread across .mission (seen via bckgrnd color)*/
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /*The above centers h2 horizontally & vertically*/
  padding: 10px;
  margin: 0;
  /*The above puts space between words, but keeps bckgrnd color seamless*/
}

h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  /*The above centers h4 horizontally & vertically*/
  padding: 10px;
  margin: 0;
  /*The above puts space between words, but keeps bckgrnd color seamless*/
}

/*Tea of the Month Section*/
#month {
  max-width: 1000px;
  position: absolute;
  top: 850px;
  padding-top: 50px;
  align-self: center;
}
/*The above sets the width & placement of this section*/

#featuring {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
/*The above turns #featuring into a flex container, positioning it's flex item images.*/

.images img {
  height: 200px;
  max-width: 300px;
  padding: 10px;
}
/*The above sets overall size for <img> elements*/

.images p {
  text-align: center;
  font-size: 22px;
}
/*The above styles <p> text within .images*/

/*Locations Section*/
#locations {
  background-image: url(../images/img-locations-background.jpg);
  /*The above is styling for the .locations div*/
  padding: 0;
  position: absolute;
  top: 1500px;
  height: 500px;
  max-width: 1200px;
  width: 100%;
  align-self: center;
  /*The above positions the .locations div*/
}

#locations h2 {
  text-align: center;
  /*The above is styling for the h2 text in .locations*/
  position: absolute;
  top: 70px;
  margin: 0;
  padding: 0;
  width: 100%;
  /*The above positions the h2 element within .locations*/
}

#trio {
  max-width: 980px;
  width: 100%;
  height: 330px;
  position: absolute;
  top: 100px;
  left: 110px;
  /*The above positions .trio within .locations*/
  display: flex;
  justify-content: space-around;
}

.square {
  max-width: 300px;
  width: 100%;
  height: 300px;
  padding: 40px;
  margin-top:  15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  /*The above (including latter code in .trio) positions .square in .trio*/
  text-align: center;
  background-color: black;
  opacity: 1;
  /*The above styles .square*/
}

.square h3 {
  padding-bottom: 20px;
  /*Seperates the heading from the paragraph*/
}

.square p {
  font-size: 22px;
  /*The above gives <h3> its default font-size, while setting <p> to 22px*/
  max-height: 200px;
  height: 100%;
  margin: 0;
  /*Puts space between ea. paragraph*/
}

footer {
  position: absolute;
  top: 2000px;
  /*border: 1px solid white;*/
  margin: 0;
  padding-left: 0;
  text-align: left;
  max-width: 1235px;
  width: 100%;
  overflow-x: none;
}

#info {
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#copyright {
  padding-left: 20px;
}
